<%= turbo_stream_from current_user, "list_items" %>

<!--
* This link and turbo frame are for loading the create new list item form
-->
<%= link_to raw('<span class="material-icons">add</span>') + ' New List Item',  
          new_list_item_path,
          data: { turbo_frame: dom_id(ListItem.new) },
          class: "btn" %>       
<%= turbo_frame_tag ListItem.new %>

<!--
* Header for incomplete list items
-->
<header id="to_do_list_header">
  
  <h1>To Do List</h1>

  <!--
  * Filter to do list items
  -->
  <%= render partial: "list_items/filters_form" %>
</header>

<div id="incomplete_list_items_container" class="list_items" data-controller="animations">
  <%= render partial: "list_item", collection: @incomplete_list_items, as: :list_item %>
  <p class="empty_state_msg">You don't have any incomplete To Do List Items. Would you like to &nbsp; <%= link_to " Create new list item?", new_list_item_path, data: { turbo_frame: dom_id(ListItem.new) } %></p>
</div>

<!--
* Container for completed(complete) list items
-->
<h2>Completed List Items</h2>
<div id="complete_list_items_container" class="list_items">
  <%= render partial: "list_item", collection: @complete_list_items, as: :list_item %>
  <p class="empty_state_msg">You haven't completed any To Do List Items yet</p>
</div>